<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class="container-fluid">
            <header>
                ARSXXYY
            </header>
        </div>
        @RenderBody()
    </div>
</body>
</html>
